body {
   background-image: url(../img/grey_sandbag_@2X.png);

}

.logo {
  font-family: 'Great Vibes';font-size: 30px;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
